{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://yt3.ggpht.com/ytc/AKedOLSdqMUX1rX1s2K51IxqsV9bgOXiYb3DaC9Y6P6O=s176-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">yedy101</h5>
          <p class="card-text">홈카페 갬성유튜바 에유.(뻔뻔)</p>
          <a href="https://www.youtube.com/channel/UCVaPTUuJy7tFC8YAYW6GRqw" class="btn btn-primary">Link</a>
        </div>
      </div>
  </div>

{% endblock %}