{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://yt3.ggpht.com/ytc/AKedOLQde1j-B-l8cdrx0nNdVdOTy9qdCRUdvhAOmaaP=s176-c-k-c0x00ffffff-no-rj" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">하루한끼 one meal a day</h5>
          <p class="card-text">쉽고 맛있는 요리를 만들어 먹는 채널입니다.</p>
          <a href="https://www.youtube.com/c/%ED%95%98%EB%A3%A8%ED%95%9C%EB%81%BConemealaday" class="btn btn-primary">Link</a>
        </div>
      </div>
  </div>

{% endblock %}